.App {
  text-align: center;
}

.line {
  
  stroke-width: 3;
  stroke: red;
}
.departureBox  {

 width: 150px;
 height: 150px;

}
.arrivalBox {
  fill: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noStation{
  fill: gray;
}
.noLine {
  stroke: gray;
}
.highburyIslington {
  fill: #0098D4;
}

.victoria {
  stroke: #0098D4;
}
.oxford {
  fill: #0098D4;
}
.paddington {
  fill: #F3A9BB;
}
.king {
  fill: #F3A9BB;
}
.hammersmith {
  stroke: #F3A9BB;
}