.App {
  text-align: center;
}

.line {
  stroke-width: 6;
  stroke: gray;
}


.noStation {
  fill: gray;
}
.noLine {
  stroke: gray;
}

.VictoriaLine {
  stroke: #0098d4;
}
.VictoriaStation {
  fill: #0098d4;
  color: white;
}

.MetropolitanLine {
  stroke: #9b0056;
}
.MetropolitanStation {
  fill: #9b0056;
  color: #fff;
}
.NorthernLine {
  stroke: #000000;
}
.NorthernStation {
  fill: #000000;
  color:#fff;
}
.CircleLine {
  stroke: #ffd300;
}
.CircleStation {
  fill: #ffd300;
  color: #fff;
}
.CentralLine {
  stroke: #e32017;
}
.CentralStation {
  fill: #e32017;
  color: #fff;
}
.BakerlooLine {
  stroke: #b36305;
}
.BakerlooStation {
  fill: #b36305;
  color: #fff;
}
.HammersmithCityLine {
  stroke: #f3a9bb;
}
.HammersmithCityStation {
  fill: #f3a9bb;
  color: #fff;
}
.DistrictLine {
  stroke: #00782a;
}
.DistrictStation {
  fill: #00782a;
  color: #fff;
}
.PiccadillyLine {
  stroke: #003688;
}
.PiccadillyStation {
  fill: #003688;
  color: #fff;
}
.JubileeLine {
  stroke: #a0a5a9;
}
.JubileeStation {
  fill: #a0a5a9;
  color: #fff;
}
.WaterlooCitylinesLine {
  stroke: #95cdba;
}
.WaterlooCitylinesStation {
  fill: #95cdba;
  color: #fff;
}
