@import url("https://fonts.googleapis.com/css2?family=Alexandria&family=Kumbh+Sans:wght@700&display=swap");
* {
  margin: 0;
  font-family: "Alexandria";
}
h1 {
  align-items: center;
  display: grid;
  font-family: "Alexandria";
  padding: 20px 0 20px 0;
}

img {
  /* margin-left: 160px; */
  text-align: center;
}
form {
  text-align: center;
  margin-left: 160px;
  margin-right: 235px;
  padding: 20px;
  font-family: "Alexandria";
}

.btn {
  text-align: center;
  font-family: "Alexandria";
  border-radius: 100px;
}

.line {
  stroke-width: 6;
  stroke: gray;
}

.noStation {
  fill: gray;
}
.noLine {
  stroke: gray;
  font-size: 20px;
  font-family: "Alexandria";
}

.VictoriaLine {
  stroke: #0098d4;
}
.VictoriaStation {
  fill: #0098d4;
  color: white;
}

.MetropolitanLine {
  stroke: #9b0056;
}
.MetropolitanStation {
  fill: #9b0056;
  color: #fff;
}
.NorthernLine {
  stroke: #000000;
}
.NorthernStation {
  fill: #000000;
  color: #fff;
}
.CircleLine {
  stroke: #ffd300;
}
.CircleStation {
  fill: #ffd300;
  color: #fff;
}
.CentralLine {
  stroke: #e32017;
}
.CentralStation {
  fill: #e32017;
  color: #fff;
}
.BakerlooLine {
  stroke: #b36305;
}
.BakerlooStation {
  fill: #b36305;
  color: #fff;
}
.HammersmithCityLine {
  stroke: #f3a9bb;
}
.HammersmithCityStation {
  fill: #f3a9bb;
  color: #fff;
}
.DistrictLine {
  stroke: #00782a;
}
.DistrictStation {
  fill: #00782a;
  color: #fff;
}
.PiccadillyLine {
  stroke: #003688;
}
.PiccadillyStation {
  fill: #003688;
  color: #fff;
}
.JubileeLine {
  stroke: #a0a5a9;
}
.JubileeStation {
  fill: #a0a5a9;
  color: #fff;
}
.WaterlooCitylinesLine {
  stroke: #95cdba;
}
.WaterlooCitylinesStation {
  fill: #95cdba;
  color: #fff;
}
/* #stationLine2 {
  display: none;
}
#station2 {
  display: none;
} */

.svg {
  text-align: center;
}
.time {
  font-family: "Alexandria";
  font-size: 20px;
}
.cost {
  font-family: "Alexandria";
  font-size: 20px;

}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
